body{
    background-color:lightsteelblue;
}
p{
    font-family: monospace;
    text-align: center;
    color:darkred;
}
h1,h2,h3,h4,h5,h6{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:khaki;
    font-style: italic;
    text-align: right;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 150px;
    color:white;
}
h2{
    color:black;
}
.special{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: left;
}
ul{
    list-style-type:square;

}
ol{
    list-style-type: upper-roman;

}
li{
    color:darkred;
    font-size: 20px;
    font-weight: bold;
}
.fave{
    color:forestgreen;
}
.map{
    width: 50%;
}
/* Kit Page*/
.kit-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    color: black;
    font-size: 25px;
    font-weight: bold;
}
.section-one {
    border: 1px solid black;
    background-color: rgb(44, 44, 247);
}
